.header-container {
  max-width: 1600px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 280px 0;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 5px;
  margin: 0;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 40px;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid white;
  background: white;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.footer-container {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px 0px;
}

.footer-content {
  padding: 20px;
}

.footer-content h4 {
  margin-bottom: 15px;
}

.footer-content a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
}
@media (max-width: 900px) {
  header {
    padding: 60px;
  }

  h1 {
    font-size: 35px;
    line-height: 1.2;
    margin-top: 10px;
  }

  h2 {
    font-size: 18px;
    line-height: 2;
  }

  h3 {
    font-size: 20px;
    line-height: 2;
    margin-top: 10px;
  }
}
