.header-container {
  max-width: 1700px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}
.margin-bottom {
  margin-bottom: 50px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

section.secondary {
  background: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 80px;
}

section.third {
  background: #472cb331;
  padding-top: 80px;
  padding-bottom: 80px;
}

section h5 {
  color: white;
}

.button-learn-more {
  background: #462cb3;
  padding: 10px 60px;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 280px 0;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 5px;
  margin: 0;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 40px;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 1.2;
  color: lightgray;
  margin: 0;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  margin: 20px 0;
  letter-spacing: 1px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}

.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  background: white;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

main {
  background-color: white;
}
main .grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 100px 10px;
  place-items: center;
}

.grid-content p {
  color: black;
  text-align: justify;
  font-size: 16px;
  line-height: 1.45;
  margin: 0;
}

.img-responsive {
  width: 100%;
  display: block;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-header.grid-2-columns {
  grid-gap: 0;
  margin: 0;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.grid-3-colums p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card {
  background: white;
  margin: 20px 0 0 0;
}

.card-content {
  padding: 20px;
}

img.css-filter {
  filter: contrast(80%);
}

table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.table-overflow {
  overflow-x: auto;
}
.table-row {
  background: #ffffffa0;
  color: #472cb38c;
}

th {
  padding: 20px;
}
td {
  padding: 10px 100px;
  color: #18151edc;
}

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid #ffffffa0;
  overflow: hidden;
}

.grid-3-columns-narrow-first {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
  max-width: 1700px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px 100px;
}

.instagram-embed {
  margin-bottom: 50px;
}

.grid-3-columns-narrow-first a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
}

footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  list-style-type: none;
}

@media (max-width: 1000px) {
  header {
    padding: 60px;
  }

  section {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 35px;
    line-height: 1.2;
    margin-top: 10px;
  }

  h2 {
    font-size: 18px;
    line-height: 2;
  }

  h3 {
    font-size: 20px;
    line-height: 2;
    margin-top: 10px;
  }

  main .grid-2-columns {
    margin: 20px 0 0 0;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .grid-content {
    padding: 10px 20px;
  }

  .grid-content h6 {
    font-size: 25px;
  }

  .grid-content p {
    font-size: 12px;
  }

  .img-responsive {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 64px;
  }

  .grid-3-columns-narrow-first {
    grid-template-columns: 1fr;
  }

  .footer-content {
    display: none;
  }

  footer {
    text-align: center;
  }
  footer ul {
    padding: 0;
    margin: 0;
  }
  footer li {
    list-style-type: none;
  }
}
